{% extends 'layout.html'%}
{% block content %}






{% for member in members %}

  {% if member.group_id == group.id %}

  <table>

    <tr>

      <td>



          <blockquote>

             member id <br>{{ member.id }}

          </blockquote>

      </td>



      <td>

      {% for user in users%}

        {% if user.id == member.user_id%}

            <blockquote>

              user email <br> {{user.email}}

            </blockquote>

            {% endif%}

          {% endfor %}

      {% if current_user.id == group.group_admin %}

      {% if member.user_id != current_user.id %}
        <a href="/remove_user?member_id={{member.id}}">

          <button class="btn btn-sm" >remove</button>

        </a>
      {% endif %}

      {% endif %}



      </td><br>

    </tr>

  </table>

  {% endif %}

{% endfor%}


{% endblock%}

{% block side %}

{% if current_user.id == group.group_admin %}

  <form method="post" action="/add_members?group_id={{group.id}}" class="pull-right">

    {{group.group_name}}

    <h1>Add member</h1>

    <div class="input-group">

      {{form.email(class="form-control input-lg", placeholder="Enter user email")}}


    </div><br>

    <div class="input-group">

      {{form.submit_button(class="btn btn-lg")}}


    </div>

  {{ form.csrf_token }}

  </form)>

{% endif%}

{% endblock %}
