{% extends 'layout.html'%}

{% block content %}


  <form class="" action="" method="post">

    <legend> change groud {{group_id }} admin</legend>

    <div class="input-group">

      {{form.group_id(class="form-control input-lg", placeholder="enter the group's id")}}

    </div><br>

    <div class="input-group">

      {{form.member_id(class="form-control input-lg", placeholder="enter the member's id")}}

    </div><br>

    <div class="input-group">

      {{form.password(class="form-control input-lg", placeholder="enter  your password")}}

    </div><br>

    <div class="input-group">

      {{ form.submit_button(class="btn btn-lg") }}

    </div>

    {{ form.csrf_token }}

  </form>

{% endblock %}
