{% extends 'layout.html' %}

{% block content%}

  {% with messages = get_flashed_messages() %}

    {% if messages %}

      {{ messages[0] }}

    {% endif %}

  {% endwith%}


  <form class="" action="#" method="post">

    <br>
    <legend>Create Group</legend>

    <div class="input-group">

      {{ form.group_name(class="form-control input-lg", placeholder="Group name")}}

    </div><br>



    <div class="input-group">

      {{ form.group_target(class="form-control input-lg", placeholder="Group target")}}

    </div><br>

    <div class="input-group">

      {{ form.submit_button(class="btn btn-lg")}}

    </div>


    {{ form.csrf_token }}

  </form>

{% endblock %}
