{% extends 'layout.html' %}

{% block content %}

  <div class="col-lg-9" id="main-home">

    <h3>Group details</h3>
    <hr>

    <div class="" id="group-box">

      <h1>{{group.group_name}}</h1>
      <hr>

      <p>Group admin: {{group.user.username}} </p>

      <p>Group members: {{group.group_members}}</p>

      <ol>

        {% for members in group.members %}

          <li>{{members.user.username}}</li>

        {% endfor %}

      </ol>

      <p>Membership limit: {{group.member_limit}}</p>

      <p>member target: {{group.member_target}}</p>

      <p> Group Target: {{group.group_target}} </p>

      <p> current contribution: {{group.current_contribution}} </p>

    </div>
    
    {% if current_user and not member %}

      <button class="btn mr-lg-1 btn-success btn-lg " id="join" onclick="joinGroup({{group.id}})">join</button><br>

    {% elif member %}
      <button class="btn btn-warning mr-lg-1 btn-lg " onclick="leaveGroup({{group.id}}, {{current_user.id}}, {{member.user_id}})">leave</button>
    {% endif %}

  </div>

{% endblock %}
