{% extends 'layout.html'%}
{% block content %}

  <br><div>

    <table>

      <tr>

          <td >

                <blockquote>Group admin<br>



              <center>

                {% for user in users%}

                {% if user.id == group.group_admin%}

                {{user.username}}
                {% endif %}

                {% endfor %}

                <i><!--id: {{group.group_admin}}--></i>

              </center>


            </blockquote>


          </td>

          <td colspan="7">

                <a href="/member?members={{group.id}}">

                  <blockquote>members<br>
                <center>{{group.group_members}}</center></blockquote>

                </a>


          </td>
          <td colspan="7">

                <blockquote> current contribution<br>

                  <center>{{group.current_contribution}}</center>

                </blockquote>


          </td>

          <td colspan="7">

                <blockquote>Group target<br>

                  <center>{{group.group_target}}<center>

                </blockquote>


          </td>

      </tr>


    </table>

{% if group.group_admin == current_user.id %}
    <div>

      <a href="/change_admin?group_id={{group.id}}">

        <button class="btn btn-lg">

          change admin

        </button>

      </a>

    </div>

{% endif %}


</div>





{% endblock %}
