

  <div class="row">

    <div class="col-lg-10">

    <nav class="navbar navbar-default navbar--top" role="navigation">

      <ul class="nav nav-tabs navbar-static-top">

        <li> <a href="/group_details?group_id={{group_id}}">Group home</a> </li>
        <li> <a href="/member?group_id={{group_id}}">Members</a> </li>
        <li> <a href="/busery?group_id={{group_id}}">Finance</a> </li>
        {%if current_user.id == group.group_admin %}
        <li> <a href="/admin_pannel?group_id={{group_id}}">admin panel</a> </li>
        {% endif %}
        <li> <a href="/payee_list?group_id={{group_id}}">Payee list</a> </li>

      </ul>

    </nav>

    </div>

    <div class="col-lg-2">


      <ul class="nav nav-pills-stacked navbar-static-top">

        <li> <a href="/join_group?group_id={{group_id}}">+Join</a> </li>
        <li> <a href="/leave_group?group_id={{group_id}}">-Leave</a> </li>

      </ul>

    </div>

  </div>
