<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{{ fontawesome_html() }}
		{% if title %}
			<title>{{ title }}</title>
		{% else %}
			<title> Esusu </title>
		{% endif %}

		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/group-details.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/account-home.css') }}">
		<link href="https://fonts.googleapis.com/css?family=Cabin&display=swap" rel="stylesheet">
		<script type="text/javascript" src="{{url_for('static', filename='js/pop-up.js')}}"></script>
		<script type="text/javascript" src="{{url_for('static', filename='js/app.js')}}"></script>



	</head>
	<body>

		<div class="main-box">

			<div class="container">

				<div class="row">

					<div class="col-lg-3 col-xs-9 col-sm-3">

						<ul class="nav nav-pills " id="nav" >

							<li><i class="fas fa-hand-holding-usd fa-3x"></i> Esusu</li>

							<li> <a href="/account_home"> <i class="fas fa-home "></i> Home </a> </li>

							<li> <a href="/account_profile"> <i class="fas fa-user"></i>  Profile </a> </li>

						{% if current_user.is_admin %}
							<li id="admin-nav"> <a href=""><i class="fas fa-user-cog"></i> admin </a>

								<ul class="nav nav-pills nav-stacked " id="admin-sub-nav">

									{% for group in current_user.group %}

									<li> <a href="/admin_pannel?group_id={{group.id}}">{{group.group_name}}</a> </li>

									{% endfor %}
								</ul>


							 </li>

							 <li id="mbl"> <a href="/group"><i class="fas fa-user-cog"></i> admin </a> </li>
						{% endif %}

							<li> <a href="/logout"> <i class="fas fa-sign-out-alt"></i> Log-out </a> </li>


						</ul>

					</div>



					<div class="col-lg-9 col-sm-9 col-xs-12">

						<div >

							{% with messages = get_flashed_messages() %}

							{% if messages %}

								{{messages[0]}}

							{% endif%}

							{% endwith%}

						</div>

						<div>

							{% block content %}{% endblock %}

						</div>

					</div>

				</div>

			</div>

		</div>

	</body>

</html>
