<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		{% if title %}
			<title>{{ title }}</title>
		{% else %}
			<title> esusu.ltd </title>
		{% endif %}

		<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
	</head>
	<body>

		<div class="col-lg-2">

			<ul class="nav nav-pills nav-stacked">

				<li><a href="{{ url_for('view.home')}}">home</a></li>
				{% if not current_user.is_authenticated%}
				<li><a href="{{ url_for('view.login')}}">login</a></li>
				<li><a href="{{url_for('view.signup')}}">sign</a></li>
				{% endif %}

				{% if current_user.is_authenticated%}
				<li><a href="{{url_for('auth.logout')}}">logout</a></li>
				{% endif %}

			</ul>

		</div>

		<div class="col-lg-9 pull-right">

			{% block content %}
			{% endblock %}

		</div>

	</body>
</html>
