<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		{{ fontawesome_html() }}
		{% if title %}
			<title>{{ title }}</title>
		{% else %}
			<title> esusu </title>
		{% endif %}

		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">

	</head>
	<body>

		<div>
			<div class="container">

				<div class="row">

					<nav id="navbar">
					<div class="col-lg-3">

						<i class="fas fa-handshake fa-3x"></i><br>

								<a id="link-box" href="account_home">

									<div id="box-btn" class="nav-button">

										<button id="btn" class="" type="button" name="button">

											<div class="btn-box">

												<i class="fas fa-home"></i> home

											</div>

										</button>

									</div>
								</a>

								<br>
							{% if current_user.is_authenticated%}

								<a id="link-box" href="/account_profile">

									<div id="box-btn" class="nav-button">

										<button id="btn" type="button" name="button">

											<div class="btn-box">

											<i class="fas fa-user"></i>	profile

											</div>

										</button>

									</div>
									</a>
 							<br>

								<a id="link-box" href="/group">

									<div id="box-btn" class="nar-button">

										<button id="btn" type="button" name="button">

											<div class="btn-box">

											<i class="fas fa-users"></i> groups

											</div>


										</button>

									</div>

								</a>

							<br>


								<a id="link-box" href="/admin_signup">

									<div id="box-btn" class="nav-button">

										<button id="btn" type="button" name="button">

											<div class="btn-box">

											<i class="fas fa-wrench"></i>	create-group


											</div>

										</button>

									</div>

								</a><br>

								<a id="link-box" href="{{url_for('auth.logout')}}">

									<div id="box-btn" class="nav-button">
										<button id="btn" type="button" name="button">

										<div class="btn-box">

										<i class="fas fa-lock"></i>	logout

										</div>

										</button>
									</div>

								</a>

							<br>
							{% endif %}

					</div>
				</nav>

					<div class="col-lg-9">

						<div>

							{% with messages = get_flashed_messages() %}

						    {% if messages %}

						      {{ messages[0] }}

						    {% endif %}

						  {% endwith%}

						</div>


						{% block content %}

						{% endblock %}

						{% block side %}


						{% endblock %}

					</div>



				</div>

			</div>
		</div>

	</body>

</html>
