{% extends 'auth-layout.html'%}


	{% block content %}

		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">

				<form class="color" action="/login" method="POST" >

					<legend class="">Login</legend>

						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 input-group" id='box-input'>

							{{form.email(class_=' form-control input-lg ', placeholder='Email')}}

						</div><br>

						<div class=" input-group col-lg-12 col-sm-12 col-xs-12" id='box-input'>

							{{ form.password(class=' form-control input-lg', placeholder='Password')}}

						</div><br>

						<div class="input-group col-lg-12 col-sm-12 col-xs-12" id="box-input-btn">

							<button  class="col-lg-12 col-sm-12 col-xs-12 btn btn-lg" type="submit" name="button">	<i class="fas fa-sign-in-alt"></i> login </button>

						</div>

						{{ form.csrf_token }}

				</form><br>

				<div class="input-group col-lg-12 col-sm-12 col-xs-12" id="sign-btn">

					<a href="{{url_for('view.signup')}}" class=" col-lg-12 col-sm-12 col-xs-12 btn btn-lg" >

						 <i class="fas fa-user-plus"></i> signup

					</a>

			</div>

		</div>

	{% endblock %}
