{% extends 'layout.html' %}

{% block content %}


	<form class="" action="/login" method="POST">

		<legend>Login</legend>

		<fieldset>

			<div class="input-group">

				{{form.email(class_='form-control input-lg', placeholder='Email')}}

			</div><br>

			<div class="input-group">

				{{ form.password(class='form-control input-lg', placeholder='Password')}}

			</div><br>

			<div class="input-group">

				{{form.submit_button(class='btn btn-lg')}}

			</div>

			{{ form.csrf_token }}

		</fieldset>

	</form>

{% endblock %}
