{% extends 'auth-layout.html'%}

{% block content %}

<form action="/reseting?email={{email}}" method="POST">

    <legend>Reset password </legend>

    <fieldset>        

        <div class="input-group col-lg-7 col-xs-12 col-sm-12">

            {{ form.password(class=' form-control input-lg', placeholder='Password')}}

        </div><br>

        <div class="input-group col-lg-7 col-xs-12 col-sm-12">

            {{ form.confirm_pwd(class=' form-control input-lg', placeholder='Confirm password')}}

        </div><br>

        <div class="input-group col-lg-7 col-xs-12 col-sm-12">

            {{ form.submit(class='btn btn-success form-control input-lg', placeholder='Confirm password')}}

        </div>

        {{form.csrf_token }}

    </fieldset>

</form>

{% endblock %}