{% extends 'auth-layout.html' %}

{% block content %}


	<form class="" action="/signup" method="post">

		<legend>Signup</legend>

		<fieldset>

			<div class="input-group" id='box-input'>

				{{ form.username(class_='form-control input-lg', placeholder='username', autofocus=True)}}

				<ul>

					{% for error in form.email.errors %}

						<li>

							{{ error }}

						</li>

					{% endfor %}

				</ul>


			</div><br>

			<div class="input-group" id='box-input'>

				{{ form.email(class_='form-control input-lg', placeholder='Email', autofocus=True)}}

				<ul>

					{% for error in form.email.errors %}

						<li>

							{{ error }}

						</li>

					{% endfor %}

				</ul>


			</div><br>

			<div class="input-group" id='box-input'>

				{{ form.password(class_='form-control input-lg', placeholder='Password')}}

				<ul>

					{% for error in form.password.errors %}

						<li>

							{{ error }}

						</li>

					{% endfor %}

				</ul>


			</div><br>

			<div class="input-group" id='box-input'>

				{{ form.confirm_pwd(class_='form-control input-lg', placeholder='Retype password')}}

				<ul>

					{% for error in form.confirm_pwd.errors %}

						<li>

							{{ error }}

						</li>

					{% endfor %}

				</ul>


			</div><br>

			<div class="input-group" id="box-input-btn">

				<button class="btn btn-lg"type="submit" name="button"> <i class="fas fa-user-plus"></i> signup</button>

			</div>

			{{ form.csrf_token }}

		</fieldset>

	</form>

{% endblock %}

{% block login %}

<div class="" id="box-access">

	<a href="{{ url_for('view.login')}}">

			<button class="btn btn-lg" type="button" name="button"> <i class="fas fa-unlock"></i> login</button>

	</a>


</div>

{% endblock %}
