{% extends 'auth-layout.html' %}

{% block content %}


	<div class="col-lg-12 col-sm-12 col-xs-12">

		<form class="" action="/signup" method="post">

			<legend >Signup</legend>

			<fieldset>

				<div class="input-group col-lg-12 col-md-12 col-sm-12 col-xs-12" id='box-input'>

					{{ form.username(class_='form-control input-lg col-lg-12', placeholder='username', autofocus=True)}}

					<ul>

						{% for error in form.email.errors %}

							<li>

								{{ error }}

							</li>

						{% endfor %}

					</ul>


				</div><br>

				<div class="input-group col-lg-12 col-md-12 col-sm-12 col-xs-12" id='box-input'>

					{{ form.email(class_='form-control input-lg', placeholder='Email', autofocus=True)}}

					<ul>

						{% for error in form.email.errors %}

							<li>

								{{ error }}

							</li>

						{% endfor %}

					</ul>


				</div><br>

				<div class="input-group col-lg-12 col-md-12 col-sm-12 col-xs-12" id='box-input'>

					{{ form.password(class_='form-control input-lg', placeholder='Password')}}

					<ul>

						{% for error in form.password.errors %}

							<li>

								{{ error }}

							</li>

						{% endfor %}

					</ul>


				</div><br>

				<div class="input-group col-lg-12 col-md-12 col-sm-12 col-xs-12" id='box-input'>

					{{ form.confirm_pwd(class_='form-control input-lg', placeholder='Retype password')}}

					<ul>

						{% for error in form.confirm_pwd.errors %}

							<li>

								{{ error }}

							</li>

						{% endfor %}

					</ul>


				</div><br>

				<div class="input-group col-lg-12 col-md-12 col-sm-12 col-xs-12" id="sign-btn">

					<button class="col-lg-12 col-md-12 col-sm-12 col-xs-12 btn btn btn-lg"type="submit" name="button">
						<i class="fas fa-user-plus"></i> signup</button>

				</div>

				{{ form.csrf_token }}

			</fieldset>

		</form><br>

		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="login-btn">

			<a href="{{ url_for('view.login')}}" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 btn btn-lg" >

				<i class="fas fa-sign-in-alt"></i> login

			</a>

		</div>

	</div>

{% endblock %}
