#box-form{
  position: absolute;
  left: 35%;
  top: 21em;
  color: black;
}
#box-input > input{
    border-radius: 7px;
}

#box-input-btn > button{
  width: 2.83in;
}
#box-input-btn :hover, #box-access > a :hover{
  background-color: darkcyan !important;
}

#box-input-btn > button, #box-access > a > button{
  background-color: rgb(243, 243, 243) !important;
}
#box-i{
  position: absolute;
  left: 37%;
  top: 10em;
  color: darkcyan;
}
#box-i > p{
  font-size: 77px;
}
#box-i > i{
  margin-left: 2cm;
}

#box-access > a > button{
  width: 2.83in;
  color: black;

}
