*{
  font-family: 'Cabin', sans-serif;
}

@media(max-height: 800px){

  #sub-box-auth {
    margin-top: 7cm;
  }
}

@media(min-width: 900px){
  
  form legend,form div input, #box-input-btn, form fieldset div, #sign-btn, #login-btn{
    margin-left: 0%;
  }
  
  #sub-box-auth{
    border: 3px solid darkcyan;
    margin-top: 10%;
  }
  
  #sign-btn, #login-btn{
    margin-bottom: 3%;
  }
}

#sub-box-auth{
  height: inherit !important;
  width: inherit;
}


#box-input-btn button:hover , #login-btn:hover{
  background-color: darkcyan;
}

#sign-btn :hover{
  background-color: green;
}

#sign-btn, #login-btn{
  background-color: whitesmoke;
  border-radius: 7px;
}

#box-auth {
  border: thin solid darkcyan;
  background-color: darkcyan;
}
