*{
  font-family: 'Cabin', sans-serif;
}
#box-auth {
  border: thin solid darkcyan;
  background-color: darkcyan;
}

@media (max-width: 850px){

  #sub-box-auth{
    border: 3px solid white !important;
    margin-right: 6in !important;
  }
  form,#sign-btn,#login-btn{
    margin-left: 0%;
  }

}

@media (min-width: 900px){

  form legend,form div input, #box-input-btn, form fieldset div, #sign-btn, #login-btn{
    margin-left: 0%;
  }

  #sub-box-auth{
    margin-top: 10%;
    margin-left: 23mm;
  }

  #sign-btn, #login-btn{
    margin-bottom: 3%;
  }
}

#sub-box-auth{
  border: 3px solid darkcyan;
  height: inherit !important;
  width: inherit;
}


#box-input-btn button:hover , #login-btn:hover{
  background-color: darkcyan;
}

#sign-btn :hover{
  background-color: green;
}

#sign-btn, #login-btn{
  background-color: whitesmoke;
  border-radius: 7px;
}

