*{
  font-family: 'Cabin', sans-serif;
}
#box-auth {
  border: thin solid darkcyan;
  background-color: darkcyan;
}

@media (max-width: 900px){

  #sub-box-auth{
    border: 3px solid white !important;
  }
  form , #sign-btn, #login-btn{
    margin-left: 0%;
  }

  #log-box > div > form{
    margin-top: 23%;
    margin-bottom: 3% !important;
  }
  #log-box{
    margin-left: 3cm; 
  }

}

@media(min-width: 850px){

  form legend,form div input, #box-input-btn, form fieldset div, #sign-btn, #login-btn{
    margin-left: 0%;
  }

  #sub-box-auth{

  margin-top: 10%;
  margin-left: 0%;
  }

  #sign-btn, #login-btn{

  margin-bottom: 3%;
  }
}

#sub-box-auth{
  border: 3px solid darkcyan;
}


#box-input-btn button:hover , #login-btn:hover{
  background-color: darkcyan;
}

#sign-btn :hover{
  background-color: green;
}

#sign-btn, #login-btn{
  background-color: whitesmoke;
  border-radius: 7px;
}

