*{
  font-family: 'Cabin', sans-serif;
}
#box-auth {
  border: thin solid darkcyan;
  background-color: darkcyan;
}

@media (max-width: 850px){

  /* form legend, form fieldset div, #sign-btn, #login-btn{
    margin-left: ;
  } */

  #sub-box-auth{
    border: 3px solid white !important;
    /* margin-left: 7% !important; */
  }


}

#sub-box-auth{
  border: 3px solid darkcyan;
  margin-top: 10%;
  margin-left: 25%;
}


#box-input-btn :hover , #login-btn :hover{
  background-color: darkcyan;
}

#sign-btn :hover{
  background-color: green;
}

#sign-btn, #login-btn{
  margin-bottom: 3%;
  background-color: whitesmoke;
  border-radius: 7px;
}

form legend, form fieldset div, #sign-btn, #login-btn{
  margin-left: 50%;
}
