*{
  font-family: 'Cabin', sans-serif;
}
.main-box{
  /* background-color: whitesmoke; */
}


@media(min-width: 900px){

  #nav {
    font-size: 6.3mm;
    font-weight: normal;
    /* border: red thin solid; */
    width: 2.6in;
    position: fixed;
    top: 0;


  }

  #admin-sub-nav li a{
    margin-left: 10mm;
  }

  #mbl{
    display: none !important;
  }
}

@media (max-width: 850px){
  #admin-sub-nav li a{
    margin-left: 3mm;
  }


  ul li#admin-nav:visited ul#admin-sub-nav {
    display: block !important;
    font-size: 4mm !important;
  }


}

#admin-sub-nav{
  display: none;

}



li#admin-nav:hover #admin-sub-nav {
  display: block;
  font-size: 4mm;
}



#nav > li > a{
  color: black;
}
