#esusu-heading {
  color: black ;
  font-weight: bold !important;
  font-size: 1.3em;
  font-family: Impact;
  /* background: darkcyan; */
  height: 8in ;
  position: relative;
  left: -3mm;

}
#box-heading{
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 5.1in;
  height: 2em;
  width: 4.26in;
  /* background-color: inherit; */
  border: 1px solid lightgray;
}
#box-groups{
  position: relative;
  left: -4mm;
  color: black;
  height: 3in;
  border: thin solid lightgray;
}

.mother-group-box{
  margin-top: 1.3cm;
}

.fa-handshake{
  color: darkcyan !important;
}
a{
  color: black !important;
  font-size: 6mm;
  font-weight: bold !important;
  word-spacing: 2mm;
  margin-top: 27% !important;
}
a:hover{
  text-decoration: none;
  color: darkcyan !important;
}

#btn{
  border: none;
  background: none;
  height: 2em;
}

#link-box :hover #btn{
  background: whitesmoke;
  border-radius: 7px;
}
btn > p {
  text-align: left !important;
}
